.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bg-blue{
  background-color: #2F3A88;
}

.bg-search{
  background-color: #F0EEEE;
}

.bg-orange{
  background-color: #F29D3A;
}

.text-blue{
  color: #2F3A88;
}

.h-video{
  height: 18rem;
}

.link-home:hover::after {
  content: "Home";
  position: absolute;
  font-size: 12px;
  color: white;
  margin-left: 10px;
  background-color: #FF8C8C;
  padding: 2px 5px;
  border-radius: 5px;
  box-shadow: black;
}

.link-about:hover::after {
  content: "About us";
  width: fit-content;
  position: absolute;
  font-size: 12px;
  color: white;
  margin-left: 10px;
  margin-top: 5px;
  background-color: #FF8C8C;
  padding: 2px 5px;
  border-radius: 5px;
  box-shadow: black;
}

.link-events:hover::after {
  content: "Events";
  position: absolute;
  font-size: 12px;
  color: white;
  margin-left: 10px;
  margin-top: 5px;
  background-color: #FF8C8C;
  padding: 2px 5px;
  border-radius: 5px;
  box-shadow: black;
}

.link-services:hover::after {
  content: "Services";
  position: absolute;
  font-size: 12px;
  color: white;
  margin-left: 10px;
  margin-top: 7px;
  background-color: #FF8C8C;
  padding: 2px 5px;
  border-radius: 5px;
  box-shadow: black;
}

.link-view:hover::after {
  content: "360 View";
  position: absolute;
  width: fit-content;
  font-size: 12px;
  color: white;
  margin-left: 10px;
  margin-top: 5px;
  background-color: #FF8C8C;
  padding: 2px 5px;
  border-radius: 5px;
  box-shadow: black;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}